<div id="sidebar">
  <nav class="navbar-dark">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link px-3 active" [routerLink]="['rfid']">
          <span>RFID Configuration</span>
        </a>
      </li>
      <li><hr class="dropdown-divider bg-light my-0" /></li>
      <li>
        <a class="nav-link px-3 active" [routerLink]="['network']">
          <span>Network Configuration</span>
        </a>
      </li>
      <li><hr class="dropdown-divider bg-light my-0" /></li>
      <li>
        <a class="nav-link px-3 active" [routerLink]="['chargingpoint']">
          <span>Charging point</span>
        </a>
      </li>
      
      <li><hr class="dropdown-divider bg-light my-0" /></li>
      <li>
      <li>
        <a class="nav-link px-3 active" [routerLink]="['chargeconnector']">
          <span>Charge Connectors</span>
        </a>
      </li>
    </ul>
  </nav>
</div>